@font-face {
  font-family: 'Univers LT W05_55 Roman';
  src: url("https://ccc-frontend.github.io/fonts/fonts/7b452431-e4a6-48a8-8ba1-c6300f9384df.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

.main {
  overflow-x: hidden;
}

.header {
  position: relative;
  margin-top: 100px;
}

.header__picture {
  width: 100%;
  display: block;
}

.header__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  max-width: 1300px;
}

.header__img {
  position: absolute;
  height: 95%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  -webkit-transition: .4s .6s;
  transition: .4s .6s;
  opacity: 1;
}

.header__img.opacity {
  opacity: 0;
}

.header__img-secondary {
  display: none;
}

.header__motto {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: .4s .4s;
  transition: .4s .4s;
  opacity: 1;
}

.header__motto.opacity {
  opacity: 0;
}

.header__title {
  font-family: 'Univers LT W05_55 Roman';
  font-size: 44px;
  line-height: 44px;
  font-weight: normal;
  margin-bottom: 44px;
  text-transform: uppercase;
}

.header__list {
  list-style: none;
}

.header__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
  cursor: pointer;
  padding: 5px 0;
}

.header__list-item:hover .header__list-arrow {
  margin: 0px;
}

.header__list-text {
  font-family: 'Univers LT W05_55 Roman';
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

.header__list-arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 15px;
  margin-right: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__link {
  color: black;
  text-decoration: none;
}

@media (max-width: 1380px) {
  .header__inner {
    width: 100%;
    max-width: none;
    margin-left: 40px;
  }
  .header__img {
    right: 40px;
  }
}

@media (max-width: 1200px) {
  .header__motto {
    top: 37%;
  }
  .header__title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 15px;
  }
  .header__list-text {
    font-size: 16px;
  }
  .header__img {
    height: 60%;
    top: 67%;
  }
}

@media (max-width: 840px) {
  .header {
    margin-top: 50px;
  }
  .header__inner {
    margin-left: 0px;
  }
  .header__motto {
    width: calc( 100% - 40px);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-left: 0;
  }
  .header__picture {
    height: 440px;
  }
  .header__img {
    display: none;
  }
  .header__img-secondary {
    position: relative;
    top: -4px;
    display: block;
    width: 100%;
  }
}

.paragraph {
  padding: 0 40px;
}

.paragraph__inner {
  padding: 90px 0;
  max-width: 1300px;
  margin: 0 auto;
}

.paragraph__text {
  font-family: 'Univers LT W05_55 Roman';
  font-size: 17px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .paragraph__inner {
    padding: 60px 0;
  }
  .paragraph__text {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
  }
}

@media (max-width: 840px) {
  .paragraph {
    padding: 0 20px;
  }
}

.categories {
  margin-bottom: 100px;
  padding: 0 40px;
}

.categories__inner {
  max-width: 1300px;
  margin: 0 auto;
}

.categories__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.categories__title {
  font-size: 44px;
  line-height: 44px;
  font-family: 'Univers LT W05_55 Roman';
  text-transform: uppercase;
  font-weight: normal;
}

.categories__arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .3s;
  transition: .3s;
  width: 40px;
}

.categories__arrow.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.categories__detail {
  height: 0px;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 96px;
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Univers LT W05_55 Roman';
  height: 100%;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 25px;
  text-align: center;
  cursor: pointer;
}

.categories__content {
  padding: 0px 60px 100px 60px;
}

.categories__submenu-title {
  font-size: 44px;
  line-height: 44px;
  font-family: 'Univers LT W05_55 Roman';
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 25px;
}

.categories__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 170px;
}

.categories__info1 {
  width: 49%;
}

.categories__text {
  font-family: 'Univers LT W05_55 Roman';
  font-size: 17px;
  line-height: 24px;
  text-align: justify;
}

.categories__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 65px;
}

.categories__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 49%;
}

.categories__link {
  color: black;
  text-decoration: none;
  display: block;
  width: 48%;
}

.categories__img {
  width: 100%;
}

.categories__item-header {
  font-family: 'Univers LT W05_55 Roman';
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 4px;
  font-size: 10px;
}

.categories__item-name {
  font-family: 'Univers LT W05_55 Roman';
  font-weight: normal;
  font-size: 14px;
  margin-top: 3px;
}

.categories__item-price {
  font-family: 'Univers LT W05_55 Roman';
  font-weight: normal;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .categories__title {
    font-size: 33px;
    line-height: 35px;
  }
  .categories__submenu-title {
    font-size: 36px;
  }
  .categories__text {
    font-size: 13px;
    line-height: 21px;
  }
  .categories__item {
    font-size: 16px;
  }
  .categories__arrow {
    width: 30px;
  }
  .categories__header {
    padding: 15px 0;
  }
  .categories__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .categories__item {
    margin-right: 0px;
  }
  .categories__content {
    padding: 0;
    padding-bottom: 100px;
  }
}

@media (max-width: 840px) {
  .categories {
    padding: 0 20px;
    margin-bottom: 50px;
  }
  .categories__submenu {
    overflow-x: scroll;
    width: 100%;
    scrollbar-width: 0px;
  }
  .categories__submenu::-webkit-scrollbar {
    display: none;
  }
  .categories__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 620px;
  }
  .categories__item {
    width: 170px;
    text-align: left;
  }
  .categories__info {
    display: block;
  }
  .categories__info1 {
    width: 100%;
  }
  .categories__gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .categories__container {
    width: 100%;
  }
  .categories__container:first-child {
    margin-bottom: 25px;
  }
  .categories__link {
    width: 49%;
  }
}
/*# sourceMappingURL=style.css.map */